############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
*/node_modules/*
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
.strapi-updater.json
package-lock.json
yarn.lock

env/local.js
env/local.*.js
.env
plugins/txen-ai/services/data
/temp
local_cfgs/*.*

apps/autobot/pptr_profile/*
configs/
apps/inventory/tracker.bson
apps/inventory/listCalendar.bson
apps/inventory/events.bson
apps/inventory/list.bson
apps/inventory/lib/airport_codes.yaml
apps/inventory/lib/nlu.yaml
apps/inventory/lib/routes.yaml
apps/autobot/package-lock.json
apps/autobot/htmls/*.html
apps/inventory/inven_airticket.arff
apps/inventory/dbscan2.json
apps/inventory/dbscan.json
apps/inventory/data
apps/inventory/*.arff

apps/maika/package-lock.json
apps/inventory/clusters.yml
apps/inventory/output.png
apps/inventory/engines/fuck.js
apps/inventory/fuck
apps/inventory/i18n/locales/*.yml
apps/inventory/rnd/pages-turndown.md
apps/inventory/rnd/pages.md
apps/inventory/rnd/pages.pdf
apps/inventory/rnd/pages.yaml
apps/inventory/rnd/Maika - Master - gemini_tourismpei.jsonl
apps/inventory/schemas/markdown.md
apps/inventory/rnd/request.json
apps/inventory/engines/*.md
apps/inventory/rnd/*.md
apps/inventory/rnd/*.yaml
apps/inventory/rnd/*.html
apps/inventory/rnd/imgs
apps/inventory/rnd/tmp
apps/inventory/rnd/__pycache__
apps/inventory/lib/__pycache__
apps/hub_ui/public
apps/inventory/travel2ns.yaml
apps/inventory/engines/allProducts.yaml
apps/inventory/engines/wp_products.yaml
